/*#region components */
.card {
  width: 20.5rem;
  height: 23.4375rem;
  background-color: var(--neutral-100);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  background-image: url(../images/bg-pattern-card.svg);
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 99;
  
}
.stats {
  margin-top: 1.5rem;
  width: 100%;
  border-top: 0.1rem solid var(--primary-200);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.user {
  margin-top: 5rem;
  img {
    border-radius: 50%;
    border: 0.4rem solid var(--neutral-100); 
  }
  &-name,
  &-stats {
    font-size: var(--fs-500);
    font-weight: var(--fw-700);
    color: var(--primary-400);
  }
  &-name { 
    margin-top: .5rem;
  }
  &-stats {
    margin-top: 1.5rem;
  }
  &-location{
    font-size: var(--fs-400);
    color: var(--neutral-400);
    margin-top: 0.5rem;
  }
  &-stats-caption {
    font-size: var(--fs-300);
    color: var(--neutral-400);
    margin-top: 0.5rem;
  }
  &-age {
    font-size: var(--fs-500);
    color: var(--neutral-400);
  }  
}
/*#endregion components */