.challenge-wrapper {
  position: relative;
  width: 100%;
  max-width: 90rem;
  min-height: 43.75rem;
  background-color: var(--primary-600);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .bg-img {
    position: absolute;
    &:nth-of-type(1) {
      bottom: 35%;
      right: 50%;
    }
    &:nth-of-type(2) {
      top: 50%;
      left: 50%;
    }

  }
}
.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 0.0625rem solid var(--neutral-400);
  background-color: var(--primary-600);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--neutral-100);
  font-size: var(--fs-400);
  * {
    margin-right: 1rem;
  }
  a {
    color: var(--primary-800);
    letter-spacing: 0.1rem;
    text-decoration: none;
    &:hover, & :focus {
      text-decoration: underline;
    }
    &:active {
      transform: scale(0.98);
    }
    
  }
}


